html {
	display: block;
}

body {
	display:flex;
	min-height: 100vh;
	flex-direction: column;
}

h1, h2, h3, h4, h5 {
	color: #689f38;
}

footer {
	margin-top: 0 !important
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #689f38;
}

.parallax {
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.parallax-container{
	max-height: 400px;
}

.default-back {
	background-color: #689f38 !important
}

.default-text {
	color: #689f38 !important
}

.alt-back {
	background-color: #7cb342 !important
}

.dark-back {
	background-color: #558b2f !important
}

.table-of-contents a:hover {
  color: #a8a8a8;
  padding-left: 19px;
  border-left: 1px solid #689f38;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 17px;
  border-left: 3px solid #689f38;
}

.banner-image {
	height: 64px;
	width: 64px;
}

.table-of-contents {
	position: fixed;
}

ul.browser-default li {
	list-style-type: initial;
}

.avatar {
	max-width: 100px;
	max-height: 100px;
	display: block;
	margin: 0 auto;
}

.avatar-card {
	min-height: 120px;
}

